<nav class="top-nav">
      <div class="cont-top-nav">
        <a class="blog-logo" id="blog" href="{{@blog.url}}">
            {{#if @blog.logo}}<img class="blog-logo-liquirizia" src="{{@blog.logo}}" alt="Blog Logo" />{{/if}}            
        </a>
          <ul>
          	<li><a href="{{@blog.url}}/about" class='active'>About</a></li>
            <li><a href="{{@blog.url}}/map" class='active'>Map</a></li>
            <li><a href="{{@blog.url}}/findwine" class='active'>Find Wine</a></li>
            <li><a href="{{@blog.url}}/tag/review" class='active'>Reviews</a></li>
            <li><a href="{{@blog.url}}/tag/blog" class='active'>Blog</a></li>
            <li><a href="{{@blog.url}}/contact" class='active'>Contact</a></li>
        </ul>
       </div>
    </nav>