<!DOCTYPE html>
<html>
<head>
    {{! Meta-tags }}
    <meta charset="utf-8" />
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {{! Favicon}}
    <link rel="shortcut icon" href="{{asset "images/favicon.ico"}}">
    {{! Basic css }}
    <link rel="stylesheet" type="text/css" href="{{asset "css/animations.css"}}" />
    <link rel="stylesheet" type="text/css" href="{{asset "css/style.css"}}" />   
    {{! Fonts}}
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400italic,400,600,700,800,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,600,500,700,300,200' rel='stylesheet' type='text/css'>
    {{! Ghost automatic output }}
    {{ghost_head}}
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
<script type="text/javascript">stLight.options({publisher: "36b04607-6bc7-4e1b-b6d7-ef5cd8e21a2a", doNotHash: false, doNotCopy: false, hashAddressBar: false});</script>
</head>
<body class="{{body_class}}">
    {{{body}}}

    <footer class="site-footer" {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
       
             <section class="copyright">All content copyright <a href="{{@blog.url}}/">{{@blog.title}}</a> &copy; {{date format="YYYY"}} &bull; All rights reserved.</section>
             <section class="poweredby">Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a></section>
        </div>
        </div>
    </footer>

    {{! Ghost footer }}
    {{ghost_foot}}
    {{! Js files }}
    <script type="text/javascript" src="{{asset "js/social-likes.min.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/jquery.fitvids.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/postScript.js"}}"></script>
    <script type="text/javascript" src="{{asset "js/index.js"}}"></script>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</body>
</html>