{{!< default}}
<main class="content" role="main">
    <div class='bk-top-nav' {{#if @blog.cover}}style="background-image: url({{@blog.cover}})"{{/if}}>
        {{> menu}}
    </div>
</main>

<article class="{{post_class}}">
    
    {{#post}}

    <header class="post-header">
        
        
        <a href="{{url}}#disqus_thread" class="post-comment"></a>
        <h3>Review //</h3>
        <h1 class="post-title">{{{title}}}</h1>
            <span class="post-datatime"><time class="post-info" datetime="{{date format="YYYY-MM-DD"}}">{{date format='DD MMM YYYY'}}</time></span>

    </header>

    <section class="single-post-content">
        
        {{content}}
        

       
    </section>
    
    <div>
        
        <footer class="post-footer">
        {{#if author.name}}
            <section class="author">
                    
                <figure class="user-image">
                    <div id="user-image" class="img" {{#if author.image}}style="background-image: url({{author.image}})"{{/if}}></div>
                </figure>
                
                <div class="info-author">
                        
                    <h4>{{author.name}}</h4>
                    <p>
                        {{author.bio}}
                    </p>
                </div>
            
            </section>
            {{/if}}
    
            
            </section>

        </footer>
        
        <div class="back-post">
            <a href="{{@blog.url}}/#blog">Back to all post</a>
        </div>


<!--         {{> comments}}-->        {{/post}}
        
    </div>
    
</article>